.main-wrapper{
    display: flex;
    margin-top: 6.1rem;
    .main__container__future{
        margin-right: 3rem;
    }
}
.future-title-and-text{
    display: flex;
    margin-top: 2.8rem;
    h1{
        width: 35rem;
        font-size:$h1-fs;
        font-weight: $h1-fw;
        line-height: $h1-lh;
        color: $Dark-Space-Blue;
        margin-right: 3rem;
    }
    p{
       width: 35rem;
       height: 10.4rem;
       margin-bottom: 2.9rem;
    }
}

.main__new{
    width: 35rem;
    height: 51.1rem;
    background-color: $Dark-Space-Blue;
    h2{
        padding-top: 3.2rem;
        padding-left: 2.4rem;
        padding-bottom: 3.4rem;
        font-size: $h2-fs;
        font-weight: $h2-fw;
        line-height: $h2-lh;
        color: $yellow-color;
    }
    h4{
        padding-bottom: 0.8rem;
        padding-left: 2.4rem;
        font-size: $h4-fs;
        font-weight: $h4-fw;
        line-height: $h4-lh;
        color: $Almost-White;
    }
    p{
        padding-left: 2.4rem;
        padding-bottom: 2.9rem;
        color: $silver-color;
    }
    hr{
        margin-bottom: 3.1rem;
        width: 30.2rem;
        color:#5E607A; 
        margin-left:2rem;
    }
}


.main__footer{
    display: flex;
    margin-top: 7.1rem;
    margin-bottom: 12.9rem;
}
.main__footer__blogs{
    display: flex;
    margin-right: 3rem;
    img{
        margin-right: 2.4rem;
    }
    h2{
        color: $silver-color;
        padding-bottom: 1.2rem;
    }
    h5{
        font-size: $h5-fs;
        font-weight: $h5-fw;
        line-height: $h5-lh;
        color: $Dark-Space-Blue;
        padding-bottom: 0.9rem;
    }
    p{
        width: 22.6rem;
        height: 5.2rem;
    }
}

@media screen and (max-width:555px){
    .main-wrapper{
        flex-direction: column;
    }

}
@media screen and (max-width:455px){
    .main__footer{
        flex-direction: column;
    }
}
@media screen and (max-width:375px){
  
    .main__container__future{
        margin-bottom: 6.4rem;
        img{
            width: 34.3rem;
            height: 30rem;
          
        }
    }
    .future-title-and-text{
        flex-direction: column;
        h1{
            width: 34.2rem;
            font-weight: 800;
            font-size: 4rem;
            line-height: 4rem;
            margin-bottom: 1.6rem;
        }
        p{
        margin-bottom: 3.7rem;
        width: 35rem;
        }
    }
    .main__footer__blogs{
        margin-bottom: 3.2rem;
    }
    .main-wrapper{
        flex-direction: column;
    }
    .main__footer{
        flex-direction: column;
    }
}