$gunmetal-grey-color:#5E607A;
$yellow-color:#E9AA52;
$Almost-White:#FFFDFA;
$silver-color:#C5C6CE;
$Dark-Space-Blue:#00001A;
$light-vermillion:#F15D51;

$main-font: "Inter", sans-serif;


$h1-fs:5.6rem;
$h1-fw:800;
$h1-lh:1;
  
$h2-fs:4rem;
$h2-fw:700;
$h2-lh:1;

$h4-fs:2rem;
$h4-fw:800;
$h4-lh:1.2;

$h5-fs:1.8rem;
$h5-fw:800;
$h5-lh:1.33;

$body-fs:1.5rem;
$body-fw:400;
$body-lh:1.7;